#walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
.lorem-fade {
  cursor: pointer; 
  color: red;
}
.lorem:hover {
  text-decoration: underline;